@using LeaveMa.Business.Models;

@model IEnumerable<LeaveModel>


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Review leaves</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th>Days</th>
                                        <th>Employee</th>
                                        <th>Balance</th>
                                        <th>Project</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.StartDate.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @item.EndDate.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @((item.EndDate - item.StartDate).TotalDays + 1)
                                            </td>
                                            <td>
                                                @(item.Employee?.FirstName + " " + item.Employee?.LastName)
                                            </td>

                                            <td>
                                                @(item.Employee.Balance)
                                            </td>

                                            <td>@(item.Employee?.EmployeeProjects.Where(x =>x.IsCurrent).FirstOrDefault()?.Project?.Name)</td>
                                            <td class="project-actions text-right">
                                                    <button class="btn btn-info btn-sm" onclick="ApproveLeave(@item.Id)">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Approve
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" onclick="RejectLeave(@item.Id)">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Reject
                                                    </button>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <!-- Modal approve -->
        <div class="modal fade" id="exampleModalApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false" style="background-color:#343a402b">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="account" method="post" action="Requests/Request/Approve">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Delete leave</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <!-- Date range -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <p>Are you sure you want to approve this request</p>
                                    </div>

                                    <input name="Id" type="hidden" class="form-control float-right" id="idToApprove">
                                </div>
                                <!-- /.input group -->
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Approve</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Modal reject -->
        <div class="modal fade" id="exampleModalReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="false" style="background-color:#343a402b">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="account" method="post" action="Requests/Request/Reject">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Delete leave</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <!-- Date range -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <p>Are you sure you want to reject this request</p>
                                    </div>

                                    <input name="Id" type="hidden" class="form-control float-right" id="idToReject">
                                </div>
                                <!-- /.input group -->
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Reject</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>


<!-- /.content-wrapper -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {

        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

    });

    var RejectLeave = function (id) {
        $("#idToReject").val(id);
        $("#exampleModalReject").modal('show')

    }
    var ApproveLeave = function (id) {
        $("#idToApprove").val(id);
        $("#exampleModalApprove").modal('show')
    }

</script>

