@using LeaveMa.Business.Models;
@using LeaveMa
@model EmployeeModel
@{
    var teamLeaves = (IEnumerable<EmployeeModel>)ViewData["TeamLeaves"];
}

<div style="max-height:80%">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Calendar</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="container-fluid">

    <div id="external-events"></div>
    <div>
        <div class="card card-primary">
            <div class="card-body p-0">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

</div>
</div>

<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/fullcalendar/main.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Page specific script -->
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- date-range-picker -->
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<script>
    $(function () {

        /* initialize the external events
         -----------------------------------------------------------------*/
        function ini_events(ele) {
            ele.each(function () {

                // create an Event Object (https://fullcalendar.io/docs/event-object)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                }

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject)

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 1070,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                })

            })
        }

        ini_events($('#external-events div.external-event'))

        /* initialize the calendar
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date = new Date()
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear()

        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendar.Draggable;

        var containerEl = document.getElementById('external-events');
        var checkbox = document.getElementById('drop-remove');
        var calendarEl = document.getElementById('calendar');

        // initialize the external events
        // -----------------------------------------------------------------

        new Draggable(containerEl, {
            itemSelector: '.external-event',
            eventData: function (eventEl) {
                return {
                    title: eventEl.innerText,
                    backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                    borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                    textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
                };
            }
        });

        var _myNames = JSON.parse('@Html.Raw(Json.Serialize(Model.Leaves))');
        var _holidays = JSON.parse('@Html.Raw(Json.Serialize(Model.Country.Holidays))');
        var teamLeaves = JSON.parse('@Html.Raw(Json.Serialize(teamLeaves))');

        var firstName = JSON.parse('@Html.Raw(Json.Serialize(Model.FirstName))');
        var lastName = JSON.parse('@Html.Raw(Json.Serialize(Model.LastName))');

        


        var arr = [];
        $.each(_myNames, function (index, item) {
            if (item.statusCode != "REJECTED")
            {
                var endDate = new Date(item.endDate)
                var endDateValue = endDate.setDate(endDate.getDate() + 1)
                arr.push({
                    title: firstName + ' ' + lastName,
                    start: new Date(item.startDate),
                    end: endDateValue,
                    backgroundColor: '#f56954', //yellow
                    borderColor: '#f56954',
                    allDay: true
                });
            }
            
        });

        $.each(_holidays, function (index, item) {
            var endDate = new Date(item.endDate)
            var endDateValue = endDate.setDate(endDate.getDate() + 1)
            arr.push({
                title: item.name,
                start: new Date(item.startDate),
                end: endDateValue,
                backgroundColor: '#17a2b8', //yellow
                borderColor: '#17a2b8',
                allDay: true
            });
        });

        $.each(teamLeaves, function (index, item) {

            $.each(item.leaves, function (inde, subItem) {

                if (subItem.statusCode == "APPROVED"){
                    var endDate = new Date(subItem.endDate)
                    var endDateValue = endDate.setDate(endDate.getDate() + 1)
                    arr.push({
                        title: item.firstName + ' ' + item.lastName,
                        start: new Date(subItem.startDate),
                        end: endDateValue,
                        backgroundColor: '#268fff', //yellow
                        borderColor: '#268fff',
                        allDay: true
                    });
                }

            })
            
        });

        var calendar = new Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            themeSystem: 'bootstrap',
            //Random default events
            events: arr,
            editable: false,
            droppable: false, // this allows things to be dropped onto the calendar !!!
            drop: function (info) {
                // is the "remove after drop" checkbox checked?
                if (checkbox.checked) {
                    // if so, remove the element from the "Draggable Events" list
                    info.draggedEl.parentNode.removeChild(info.draggedEl);
                }
            }
        });

        calendar.render();
        // $('#calendar').fullCalendar()

        /* ADDING EVENTS */
        var currColor = '#3c8dbc' //Red by default
        // Color chooser button
        $('#color-chooser > li > a').click(function (e) {
            e.preventDefault()
            // Save color
            currColor = $(this).css('color')
            // Add color effect to button
            $('#add-new-event').css({
                'background-color': currColor,
                'border-color': currColor
            })
        })
        $('#add-new-event').click(function (e) {
            e.preventDefault()
            // Get value and make sure it is not null
            var val = $('#new-event').val()
            if (val.length == 0) {
                return
            }

            // Create events
            var event = $('<div />')
            event.css({
                'background-color': currColor,
                'border-color': currColor,
                'color': '#fff'
            }).addClass('external-event')
            event.text(val)
            $('#external-events').prepend(event)

            // Add draggable funtionality
            ini_events(event)

            // Remove event from text input
            $('#new-event').val('')

        })
        $(function () {
            $('a').click(function (e) {
                // if already any element in active status remove it
                $('a').removeClass('active');
                // add active status to this one only
                $(this).addClass('active');
                

            })
        })
    })
</script>

